<div class="accordion-item" *ngIf="isCategory(category)">
  <h2 class="accordion-header justify-content-center" *ngIf="!linkedToMain">
    <button class="accordion-button collapsed text-bg-secondary fw-bold" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse'+category.id"
            aria-expanded="false" [attr.aria-controls]="'collapse'+category.id">
      Category: {{category.name}}
    </button>
  </h2>

  <div id="collapse{{category.id}}" class="accordion-collapse collapse"
       [attr.aria-labelledby]="'heading'+category.id">
    <div class="accordion-body">
      <ul *ngFor="let child of filteredCategories | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, id: category.id }">
        <li>
          <app-category [category]="child"></app-category>
        </li>
      </ul>
      <pagination-controls id="{{category.id}}"  *ngIf="filteredCategories.length > itemsPerPage"
                           (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>
</div>
<button class="btn" id="productBtn" *ngIf="isProduct(category) && !linkedToMain">
  {{category.name}}
</button>


