<div class="card text-center main-card">
  <div class="card-header" id="toolbar">
      <img
        width="40"
        alt="Gung Logo"
        src="./assets/logo.png"/>
      <span>Gung Project</span>
  </div>
  <div class="card-body">
    <div class="card h-100 flex-column align-items-center col-12">
      <div class="card-header w-100 text-bg-dark text-center">
        <h2 class="text-light">Categories</h2>
      </div>
      <div class="card-body w-75">
        <div class="accordion" *ngIf="category">
          <app-category [category]="category"></app-category>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    By Faezeh Mohammadi
  </div>
</div>
