<div class="card text-center main-card">
  <div class="card-header" id="toolbar">
    <img
      width="40"
      alt="Gung Logo"
      src="./assets/logo.png"/>
    <span>Gung Project</span>
  </div>
  <div class="card-body">
    <div class="card h-100 flex-column align-items-center col-12">
      <div class="card-header w-100 text-bg-dark text-center">
        <h2 class="text-light">Categories</h2>
      </div>
      <div class="card-body w-75">
        <div class="accordion" *ngIf="category">
          <form>
            <div class="row flex-lg-row flex-sm-column justify-content-center p-2">
              <div class="col-lg-2 col-sm-12">
                <input type="text" class="form-control" id="name" [(ngModel)]="filterName" placeholder="Filter by name"
                       [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-lg-2 col-sm-12">
                <input type="text" class="form-control" id="id" [(ngModel)]="filterId" placeholder="Filter by id"
                       [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-lg-2 col-sm-12">
                <input type="text" class="form-control" id="price" [(ngModel)]="filterPrice"
                       placeholder="Filter by price"
                       [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="row flex-lg-row flex-sm-column justify-content-center p-2">
              <div class="form-check col-lg-2 col-sm-12">
                <input class="form-check-input" type="checkbox" id="inStock" [(ngModel)]="inStock" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="inStock">
                  Default checkbox
                </label>
              </div>
            </div>
          </form>
          <app-category [category]="category" [filterName]="filterName" [filterId]="filterId"
                        [filterPrice]="filterPrice" [inStock]="inStock"></app-category>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    By Faezeh Mohammadi
  </div>
</div>
